services:
  - type: web
    name: wel-app
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn server:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.19
      - key: STRIPE_SECRET_KEY
        sync: false
      - key: STRIPE_PUBLISHABLE_KEY
        sync: false
      - key: STRIPE_BASIC_PRICE_ID
        sync: false
      - key: STRIPE_PRO_PRICE_ID
        sync: false
